.home-page-html,
.home-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Circular", sans-serif;
  background: radial-gradient(
    circle,
    rgba(0, 74, 4, 1) 25%,
    rgba(6, 97, 0, 1) 50%,
    rgba(0, 118, 23, 1) 75%,
    rgba(12, 169, 0, 1) 100%
  );
  color: white;
}

.spotify-home-page-button {
  position: absolute;
  top: 5px;
  right: 20px;
  display: inline-block;
  background-color: #1db954;
  color: white;
  padding: 20px 40px;
  border-radius: 100px;
}

.spotify-home-page-button:hover {
  background-color: #1ed760;
}

.spotify-home-link-logo {
  width: 175px;
  height: 50px;
  margin-right: 5px;
  vertical-align: middle;
}

.main-title {
  font-size: 60px;
  margin: 20px 0px 60px 0px;
  text-align: center;
}

.main-subtitle {
  font-size: 40px;
  margin: 0px 0px 40px 0px;
  text-align: center;
}

.main-description {
  font-size: 30px;
  text-align: center;
  margin: 0px auto 45px auto;
  width: 70%;
}

.spotify-sign-in-button {
  display: inline-block;
  background-color: #1db954;
  color: white;
  padding: 30px 40px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
}

.spotify-sign-in-button:hover {
  background-color: #1ed760;
}

.spotify-sign-in-logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  vertical-align: middle;
}

.github-link-button,
.github-logo {
  width: 80px;
  height: 80px;
  vertical-align: middle;
  position: absolute;
  top: 5px;
  left: 20px;
}

.github-link-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
