body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: rgb(0,74,4);
  background: radial-gradient(circle, rgba(0,74,4,1) 25%, rgba(6,97,0,1) 50%, rgba(0,118,23,1) 75%, rgba(12,169,0,1) 100%);  color : white;
}

.spotify-button {
  display: inline-block;
  background-color: #1db954;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.spotify-button:hover {
  background-color: #1ed760;
}

.spotify-logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
