.home-page-html,
.home-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: Signika, sans-serif;
  background: radial-gradient(
    circle,
    rgba(0, 74, 4, 1) 25%,
    rgba(6, 97, 0, 1) 50%,
    rgba(0, 118, 23, 1) 75%,
    rgba(12, 169, 0, 1) 100%
  );
  color: white;
}

.github-link-button,
.github-logo {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 20px;
  border-radius: 50%;
}

.github-link-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.spotify-home-page-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  background-color: #1db954;
  color: white;
  padding: 10px;
  border-radius: 100px;
}

.spotify-home-link-logo {
  width: 150px;
  height: 45px;
  vertical-align: middle;
}

.spotify-home-page-button:hover {
  background-color: #1ed760;
}

.main-title {
  font-size: 60px;
  margin: 10px 0px 60px 0px;
  text-align: center;
}

.main-subtitle {
  font-size: 40px;
  margin: 0px 0px 40px 0px;
  text-align: center;
}

.main-description {
  font-size: 30px;
  text-align: center;
  margin: 0px auto 45px auto;
  width: 70%;
}

.spotify-sign-in-button {
  display: flex;
  background-color: #1db954;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0px auto 30px auto;
  max-width: 400px;
}

.spotify-sign-in-button:hover {
  background-color: #1ed760;
}

.spotify-sign-in-logo {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .main-title {
    font-size: 50px;
    margin-top: 20px;
  }
}

@media (max-width: 945px) {
  .main-title {
    margin-top: 90px;
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .main-subtitle {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .main-description {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .main-title {
    font-size: 40px;
    margin-top: 90px;
  }

  .main-subtitle {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .main-description {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 421px) {
  .main-title {
    font-size: 30px;
    margin-top: 100px;
  }

  .main-subtitle {
    font-size: 19px;
    margin-bottom: 20px;
  }

  .main-description {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .spotify-sign-in-button {
    font-size: 25px;
    height: 80px;
    width: 300px;
  }
  .spotify-sign-in-logo {
    width: 40px;
    height: 45px;
  }
}
