.playlist-html {
  background: radial-gradient(
    circle,
    rgba(0, 74, 0, 1) 25%,
    rgba(0, 97, 0, 1) 50%,
    rgba(0, 118, 0, 1) 75%,
    rgba(0, 169, 0, 1) 100%
  );
  color: white;
  font-family: "Circular", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.your-playlist-title {
  font-size: 48px;
  margin: 5px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.get-started {
  font-size: 24px;
  margin: 5px;
  padding: 10px 0px 30px 0px;
  text-align: center;
}

.table-container {
  margin-top: 30px;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  width: 100%;
  display: flex;
  justify-content: center;
}

.playlist-table {
  border: 3px solid #ddd;
  border-radius: 20px;
  border-spacing: 0px;
  max-height: 400px;
  width: 80%;
  margin: 0 auto;
}

.header-row {
  font-size: 20px;
}

.header-cell {
  border-bottom: 1px solid #ddd;
  padding: 10px 10px 10px 10px;
}

.playlist-cell {
  border-right: none;
  font-size: 18px;
  min-height: 100px;
  overflow: auto;
  text-align: center;
  padding-top: 8px;
}

.playlist-cover {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.header-row:hover {
  background-color: transparent;
  cursor: default;
}

.playlist-row:hover {
  background-color: #75ae6f;
  cursor: pointer;
}
