body {
  background: radial-gradient(
    circle,
    rgba(0, 74, 4, 1) 25%,
    rgba(6, 97, 0, 1) 50%,
    rgba(0, 118, 23, 1) 75%,
    rgba(12, 169, 0, 1) 100%
  );
  color: white;
  font-family: "Circular", sans-serif;
}

h1 {
  font-size: 48px;
  margin: 5px;
  padding: 5px 0px 0px 0px;
  text-align: center;
}

p {
  font-size: 18px;
  margin: 5px;
  padding: 5px 0px 10px 0px;
  text-align: center;
}

.table-container {
  margin-left: calc(100vh - 300px);
  margin-right: 0px;
  max-height: calc(100vh - 125px);
  overflow-y: scroll;
}

table {
  border: 3px solid #ddd;
  border-radius: 20px;
  border-spacing: 0px;
  max-height: 400px;
  width: calc(100% - 35px);
}

.header-row th {
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}

th {
  border-bottom: 1px solid #ddd;
}

td {
  border-right: none;
  font-size: 18px;
  min-height: 100px;
  overflow: auto;
  text-align: center;
  padding-top: 8px;
}

.playlist-cover {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.header-row:hover {
  background-color: transparent;
  cursor: default;
}

tr:hover {
  background-color: #75ae6f;
  cursor: pointer;
}
