table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.playlist-cover,
.album-cover {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.progress {
  display: none;
  /* Styles for the progress indicator */
}