<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta description= "404 error">
    <title>404 Not Found</title>
    <style>
      body {
        font-family: "Circular", sans-serif;
        background-color: #f4f4f4;
        text-align: center;
        padding: 50px;
      }

      .error-heading {
        font-size: 64px;
        margin-bottom: 20px;
      }

      .error-message {
        font-size: 48px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <h1 class="error-heading">404 Not Found</h1>
    <p class="error-message">{{ error_message }}</p>
  </body>
</html>
