<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotify Playlist Viewer</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}"
  />
  </head>
  <body>
    <h1>Spotify Playlist Viewer</h1>
    <p>Sort your Spotify playlists with this website. Click the button below to sign in to get started</p>
    <a class="spotify-button" href="/login">Sign In with Spotify</a>
  </body>
</html>
