<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playlist Detail</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/playlist_detail.css') }}"
    />
    <script src="{{ url_for('static', filename='js/playlist_detail.js') }}"></script>
  </head>
  <body>
    <h1>
      <img
        src="{{ playlist_cover }}"
        alt="Playlist Cover"
        class="playlist-cover"
      />
      {{ playlist_name }}
    </h1>
    <label for="dropdown1">Sort By:</label>
    <select id="dropdown1" class="dropdown">
      <option value="releaseDateNewOld">Release Date (New-Old)</option>
      <option value="releaseDateOldNew">Release Date (Old-New)</option>
      <option value="trackNameAZ">Track Name (A-Z)</option>
      <option value="trackNameZA">Track Name (Z-A)</option>
      <option value="artistNameAZ">Artist Name(A-Z)</option>
      <option value="artistNameZA">Artist Name(Z-A)</option>
    </select>
    <label for="dropdown2">Create or Update:</label>
    <select id="dropdown2" class="dropdown">
      <option value="create" selected>Create a New Playlist</option>
      <option value="update">Update the Existing Playlist</option>
    </select>
    <button class="organize-button" onclick="showProgress()">Organize</button>
    <div id="progress" class="progress">Progress...</div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Album Cover</th>
          <th>Song Name</th>
          <th>Album</th>
        </tr>
      </thead>
      <tbody>
        {% for song in songs %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>
            <img
              src="{{ song.album_cover }}"
              alt="Album Cover"
              class="album-cover"
            />
          </td>
          <td>{{ song.name }}</td>
          <td>{{ song.album }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
