<!DOCTYPE html>
<html lang="en" class="playlist-html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta description="Sort your Spotify playlist by release date, album name, and artist name" />
    <title>Spotify Playlist Viewer - Playlists</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/playlists.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/playlist_logo.png') }}"
      type="image/png"
    />
    <script src="{{ url_for('static', filename='js/playlists.js') }}"></script>
  </head>
  <body class="playlist-body">
    <div>
      <h1 class="your-playlist-title">Your Created Playlists</h1>
      <p class="get-started">Click on a playlist to get started</p>
      <div class="table-container">
        <table class="playlist-table">
          <thead>
            <tr class="header-row">
              <th class="header-cell">Cover</th>
              <th class="header-cell">Playlist Name</th>
              <th class="header-cell">Track Count</th>
            </tr>
          </thead>
          <tbody>
            {% for playlist in playlists %}
            <tr
              class="playlist-row"
              onclick="redirectToPlaylistDetail('{{ playlist.id }}');"
            >
              <td class="playlist-cell">
                <a
                  href="{{ url_for('playlist_detail', playlist_id=playlist.id) }}"
                >
                  <img
                    src="{{ playlist.images[0].url }}"
                    alt="Playlist Cover"
                    class="playlist-cover"
                  />
                </a>
              </td>
              <td class="playlist-cell">{{ playlist.name }}</td>
              <td class="playlist-cell">{{ playlist.tracks.total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="footer">
      <p>&copy; 2023 Tyler Weiss. All rights reserved.</p>
  </div>
  </body>
</html>
